#container{
    display: flex;
    justify-content: center; /* Horizontaal */
    align-items: center; /* Verticaal */
    border: 40px solid white;
    max-width: 500px;
    margin: auto;
    justify-content: space-between;
    background-color: white;
}

#Button1{
    color: white;
    background-color: green;
    width:165px;
    height: 75px;
}

#Button2{
    color: white;
    background-color: red;
    width:165px;
    height: 75px;
}
#Button3{
    color: white;
    background-color: blue;
    width:165px;
    height: 75px;
}
